@import url(./reset.css);
body {
  min-width: 250px;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, serif; }

/* Style the header */
.header {
  background-color: #41B5FE;
  padding: 30px 40px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  /* Style the input */
  /* Style the "Add" button */ }

.header:after {
  content: "";
  display: table;
  clear: both; }

.header h2 {
  margin-bottom: 4px; }

.header input {
  margin: 0;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px; }

.header #add-btn {
  padding: 10px;
  width: 25%;
  background: #D9D9D9;
  color: #353535;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0 4px 4px 0; }

.header #add-btn:hover {
  background-color: #CDCDCD; }

ul#tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #353535;
  font-size: 14px; }

ul#tabs li {
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  padding: 10px 40px;
  flex-grow: 1; }

ul#tabs li:not(:last-child) {
  border-right: 5px solid #FFF; }

ul#tabs li:hover, ul#tabs li.active {
  color: #41B5FE;
  border-bottom-color: #41B5FE; }

ul#todo-list li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #EEEEEE;
  font-size: 14px;
  transition: 0.2s;
  user-select: none;
  color: #353535; }

ul#todo-list li:nth-child(odd) {
  background: #f9f9f9; }

ul#todo-list li:hover {
  background: #CDCDCD; }

ul#todo-list li.checked {
  background: #CDCDCD;
  color: #FFF;
  text-decoration: line-through; }

ul#todo-list li.checked::before {
  content: '';
  position: absolute;
  border-color: #FFF;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px; }

ul#todo-list li .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px; }

ul#todo-list li .close:hover {
  background-color: #F44336;
  color: white; }
